body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

/* Global change of some AntD colors */
.ant-select-dropdown .rc-virtual-list .ant-select-item-option-active {
  background-color: #c1c1c1;
}
